body{
  background-color: lightgray;
}
ul{
    list-style: none;
    text-decoration: none;
}
.navbar{
    /* border: 2px solid black; */
  
    color: black;
    font-family: 'League Gothic', sans-serif
  }
  
  .header .navbar .img{
    margin: 20px;
    float: left;
    width: 15%;
  }
  
  .header .navbar a{
    text-decoration: none;
    font-size: larger;
    color: rgb(11, 11, 11);
    margin: left 20px;
  }
  .navbar a:hover{
    /* text-shadow: 10px; */
    color: rgb(2, 196, 196);
    
    /* transition: ease-out; */
  }
  .header .navbar .nav-item{
    float: right;
    padding: 5px 30px;
  }
  .navbar::after{
    content: " ";
    display: block;
    clear: both;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.review {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.945);
}

.review img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.review h3 {
    text-align: center;
    margin-bottom: 5px;
    color: #333;
}

.review p {
    text-align: center;
    color: #666;
}

@media screen and (min-width: 768px) {
    .review {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .review img {
        flex-basis: 100px;
        margin-bottom: 0;
    }

    .review-content {
        flex: 1;
    }

    .review p {
        margin-top: 10px;
        text-align: center;
    }
}