body{
    background-color: lightgray;
}
.navbar{
    /* border: 2px solid black; */
  
    color: black;
    font-family: 'League Gothic', sans-serif
  }
  ul{
    list-style: none;
    text-decoration: none;
}
  
  .header .navbar .img{
    margin: 20px;
    float: left;
    width: 15%;
  }
  
  .header .navbar a{
    text-decoration: none;
    font-size: larger;
    color: rgb(11, 11, 11);
    margin: left 20px;
  }
  .navbar a:hover{
    /* text-shadow: 10px; */
    color: rgb(2, 196, 196);
    
    /* transition: ease-out; */
  }
  .header .navbar .nav-item{
    float: right;
    padding: 5px 30px;
  }
  .navbar::after{
    content: " ";
    display: block;
    clear: both;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.main-blog {
    flex-basis: 70%; /* 70% width for main blog */
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.815);
    transition: transform 0.3s ease-in-out;
}

.main-blog:hover {
    transform: translateY(-5px);
}

.main-blog img {
    width: 100%;
    height: auto;
    display: block;
}

.main-blog-content {
    padding: 20px;
}

.main-blog-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.main-blog-description {
    color: #666;
}

.side-blogs {
    flex-basis: 28%; /* 28% width for side blogs */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h1{
    text-align: center;

}
.side-blog-item {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.76);
    transition: transform 0.3s ease-in-out;
}

.side-blog-item:hover {
    transform: translateY(-5px);
}

.side-blog-item img {
    width: 100%;
    height: auto;
    display: block;
}

.side-blog-content {
    padding: 20px;
}

.side-blog-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.side-blog-description {
    color: #666;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .main-blog, .side-blogs {
        flex-basis: 100%; /* Full width on smaller screens */
    }
}