body{
  background-color: lightgray;
}
ul{
  list-style: none;
  text-decoration: none;
}
.navbar{
  /* border: 2px solid black; */

  color: black;
  font-family: 'League Gothic', sans-serif
}

.header .navbar .img{
  margin: 20px;
  float: left;
  width: 15%;
}

.header .navbar a{
  text-decoration: none;
  font-size: larger;
  color: rgb(0, 0, 0);
  margin: left 20px;
}
.navbar a:hover{
  /* text-shadow: 10px; */
  color: rgb(2, 196, 196);
  
  /* transition: ease-out; */
}
.header .navbar .nav-item{
  float: right;
  padding: 5px 30px;
}
.navbar::after{
  content: " ";
  display: block;
  clear: both;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.801);
    width: 280px;
    height: 410px;
    background-color: white;
    text-align: center;
    font-family: arial;
    display: inline-block;
    margin-inline: 20px;
    margin-top: 40px;
    border-radius: 50px;

  }

  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(2, 196 , 196);
    text-align: center;
    cursor: pointer;
    width: 60%;
    font-size: 18px;
    border-radius: 50px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }